---
import Tooltip from "../components/Tooltip.astro";
const image = "/everything.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Everything</title>
    <meta name="description" content="Everything Everywhere All At Once" />
  </head>
  <body>
    <Tooltip content="Everything = One">
      <a href="http://kiss-one.world" title="KISS One">
        <img
          src={image}
          width="200"
          height="200"
          title="Everything Everywhere All At Once"
        />
      </a>
    </Tooltip>
  </body>
</html>

<style>
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica, sans-serif;
  }
</style>
